html, body {
  margin: 0;
  font-family: Arial;
  color: #FFFFFF; }

p, a {
  font-size: 1rem; }

img {
  height: 350px;
  width: 550px; }

ul {
  list-style: circle; }

.container {
  min-height: 100%;
  display: flex; }

.nav {
  width: 15%;
  min-width: 140px;
  color: #000000;
  padding-top: 55px;
  padding-right: 30px;
  text-align: center; }
  .nav h4 {
    -webkit-margin-before: 0;
    margin-left: 50px; }
  .nav a {
    color: inherit;
    text-decoration: none; }
  .nav a:hover {
    text-decoration: underline; }

.main {
  width: 85%;
  min-height: 750px;
  min-width: 600px;
  background-color: #000000; }
  .main > * {
    padding-left: 160px; }
  .main li {
    font-size: 0.85rem; }
  .main h1 {
    font-size: 62px;
    -webkit-margin-before: 0;
    padding-top: 40px; }
  .main p {
    width: 55%;
    min-width: 550px; }
  .main a {
    color: inherit;
    text-decoration: none; }
  .main a:hover {
    text-decoration: underline; }
